Exercise 1: Print first 10 natural numbers using while loop
Exercise 2: Print the following pattern
Exercise 3: Calculate sum of all numbers from 1 to a given number
Exercise 4: Print multiplication table of a given number
Exercise 5: Display numbers from a list using a loop
Exercise 6: Count the total number of digits in a number
Exercise 7: Print the following pattern
Exercise 8: Print list in reverse order using a loop
Exercise 9: Display numbers from -10 to -1 using for loop
Exercise 10: Display a message “Done” after the successful execution of the for loop
Exercise 11: Print all prime numbers within a range
Exercise 12: Display Fibonacci series up to 10 terms
Exercise 13: Find the factorial of a given number
Exercise 14: Reverse a integer number
Exercise 15: Print elements from a given list present at odd index positions
Exercise 16: Calculate the cube of all numbers from 1 to a given number
Exercise 17: Find the sum of the series up to n terms
Exercise 18: Print the following pattern

In [5]:
i = 1
while i <11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [17]:
def numPyramid(n):
    for i in range(1,n+1):
        print(' ', end='')
        for j in range(1, i+1):
            print(j, end='')
        print()

numPyramid(5)

 1
 12
 123
 1234
 12345

In [6]:
n = int(input("Enter a number: "))
sumvalue = sum(range(1,n+1))

print(sumvalue)

55

In [9]:
n = int(input('Enter the multipler: '))
i = 1
for i in range(1,11):
    print(n*i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [20]:
numlst = [12, 75, 150, 180, 145, 525, 50]

# n /5
# n > 150 pass
# n > 500 break

for i in numlst:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i%5 == 0:
        print(i)

75
150
145

In [23]:
counter = 0
number = 8754615911

while number !=0:
    number = number // 10
    counter+=1
print(counter)

10

In [30]:
def revPyramid(n):
    for i in range(n, 0, -1):
        print(' ', end='')
        for j in range(i, 0, -1):
            print(j, end='')
        print()

revPyramid(5)

 54321
 4321
 321
 21
 1

In [39]:
lst = [10,20,30,40,50]

newlst = reversed(lst)

for i in newlst:
    print(i)

50
40
30
20
10

In [42]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [44]:
for i in range(5):
    print(i)
print('Done!')

0
1
2
3
4
Done!

In [50]:
a = 35
b = 65

for num in range(a,b+1):
    if num > 1:
        for i in range(2, num):
            if ( num % i ) == 0:
                break
        else:
            print(num)

37
41
43
47
53
59
61

In [7]:
def fibonnaci(n):
    if n == 0:
        return 0
    elif  n ==1 or n == 2:
        return 1
    else:
        return(fibonnaci(n-1) + fibonnaci(n-2))


for i in range(0,10):
    print(fibonnaci(i))

0
1
1
2
3
5
8
13
21
34

In [73]:
n = 5
fact = 1

for i in range(1, n+1):
    fact *=i

print(fact)

120

In [77]:
n = 54321
print(str(n)[::-1])

12345

In [4]:
lst = [10,20,30,40,50,60,70,80,90]

for i in lst[1::2]:
    print(i, end=' ')

20 40 60 80

In [84]:
n = 9

for i in range(1, n+1):
    print(i**3)

1
8
27
64
125
216
343
512
729

In [1]:
n = 5
a = 2
sum = 0


for i in range(0, n):
    sum += a
    a = a * 10 + 2
print(sum)

24690

In [101]:
def pyramid(n):
    for i in range(1, n+1):
        for j in range(0, i):
            print("*", end='')
        print()
    for i in range(1, n+1):
        for j in range(n-i):
            print("*", end='')
        print()

pyramid(5)

*
**
***
****
*****
****
***
**
*